.psd{display: block;}
.psm{display: none;}

.allproperty{
    padding: 20px 20px 10px 20px;
    background-color: rgba(78, 82, 114, 0.35);
}

.allproperty_h1{
    font-size: 26px;
    font-weight: 700;
}

.doc_sec1{
    background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
    border-radius: 20px;
}

.doc_sec2{
    background-image: url('/Image/Card\ 1\ Mask.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.doc_sec3{
    padding: 20px 10px 0px ;
    height: 200px;
}

.doc_sec4{
    margin-left: -30px;
    padding-top: 15px;
}

.trans_d{
    background: #d9d9ff;
    border-radius: 30px;
}

.text-dark1{
    color: black;
}

.trans_h1{
    font-size: 26px;
    font-weight: 700;
    padding-left: 15px;
    color: black;
}

.footer1{
    padding: 10px;
    background-color: rgba(78, 82, 114, 0.35);
    border-radius: 20px 20px 0 0;
}

.footer2{
    background-color: rgba(114, 117, 145, 0.35);
    padding: 5px;
    border-radius: 15px;
}

.footer3{
    margin-top: -20px;
    padding: 10px;
    border-radius: 35%;
    background-color: #3A49F9;
}

@media only screen and (max-width: 789px)  {/*Mobile*/
    .psm{display: block;}
    .psd{display: none;}

    .allproperty{
        padding: 20px 20px 10px 20px;
        background-color: rgba(78, 82, 114, 0.35);
    }
    
    .allproperty_h1{
        font-size: 26px;
        font-weight: 700;
    }
    
    .doc_sec1{
        background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
        border-radius: 20px;
    }
    
    .doc_sec2{
        background-image: url('/Image/Card\ 1\ Mask.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 20px;
    }
    
    .doc_sec3{
        padding: 20px 10px 0px ;
    }
    
    .doc_sec4{
        margin-left: -30px;
        padding-top: 15px;
    }
    
    .trans_d{
        background: url('/Image/card1\ 1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120%;
        border-radius: 20px;
    }
    
    .text-dark1{
        color: black;
    }
    
    .trans_h1{
        font-size: 20px;
        font-weight: 600;
        color: black;
    }
    
    .footer1{
        padding: 10px;
        background-color: rgba(78, 82, 114, 0.35);
        border-radius: 20px 20px 0 0;
    }
    
    .footer2{
        background-color: rgba(114, 117, 145, 0.35);
        padding: 5px;
        border-radius: 15px;
    }
    
    .footer3{
        margin-top: -20px;
        padding: 10px;
        border-radius: 35%;
        background-color: #3A49F9;
    }
    
    
}

/*Service Page*/

.search1{
    background-color: #2D3153;
    height: 50px;
    border-radius: 10px;
}

.serv1{
    background-color: #535882;
}

.serv2{
    background-color: #282C4A;
}

@media only screen and (max-width: 789px)  {/*Mobile*/
    .search1{
        background-color: #2D3153;
        height: 50px;
        border-radius: 10px;
    }
    
    .serv1{
        background-color: #535882;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .serv2{
        background-color: #282C4A;
        margin-right: 20px;
        margin-left: 20px;
    } 
}